In [2]:
import pandas as pd
df=pd.read_csv("D:\Study,Courses\Python 100 days of code\pandas\weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [12]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [23]:
df[['temperature']]

   temperature
0           32
1           35
2           28
3           24
4           32
5           31

In [16]:
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [24]:
type(df['event'])

pandas.core.series.Series

In [33]:
df['temperature'].mean()

30.333333333333332

In [38]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [41]:
df[df.temperature>=32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [48]:
df[['day','temperature']][df.temperature==df.temperature.max()]

        day  temperature
1  1/2/2017           35

In [50]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [52]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [56]:
df.set_index('day',inplace=True)

In [58]:
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [67]:
df.reset_index(inplace=True)

ValueError: cannot insert level_0, already exists

In [63]:
df

   index       day  temperature  windspeed  event
0      0  1/1/2017           32          6   Rain
1      1  1/2/2017           35          7  Sunny
2      2  1/3/2017           28          2   Snow
3      3  1/4/2017           24          7   Snow
4      4  1/5/2017           32          4   Rain
5      5  1/6/2017           31          2  Sunny

In [69]:
df.set_index('event',inplace=True)

In [71]:
df

       level_0  index       day  temperature  windspeed
event
Rain         0      0  1/1/2017           32          6
Sunny        1      1  1/2/2017           35          7
Snow         2      2  1/3/2017           28          2
Snow         3      3  1/4/2017           24          7
Rain         4      4  1/5/2017           32          4
Sunny        5      5  1/6/2017           31          2

In [75]:
df

       level_0  index       day  temperature  windspeed
event
Rain         0      0  1/1/2017           32          6
Sunny        1      1  1/2/2017           35          7
Snow         2      2  1/3/2017           28          2
Snow         3      3  1/4/2017           24          7
Rain         4      4  1/5/2017           32          4
Sunny        5      5  1/6/2017           31          2

In [77]:
df.loc['Snow']

       level_0  index       day  temperature  windspeed
event
Snow         2      2  1/3/2017           28          2
Snow         3      3  1/4/2017           24          7